.NavItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.NavItem a {
    color: purple;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: #40A4C8;
    border-bottom: 4px solid red;
    color: white;
}