.red {
    color: red;
  }
  
.bold {
font-weight: bold;
}

.Cockpit button {
border: 1px solid rgb(58, 56, 56);
padding: 10px;
background-color: green;
font: inherit;
color: white;
}

.Cockpit button:hover {
background-color: greenyellow;
color: black;
cursor: wait;
}

.Cockpit button.Red {
background-color: red;
}

.Cockpit button.Red:hover {
background-color: rebeccapurple;
color: black;
cursor: not-allowed;
}